.device-iphone-x {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);

  .notifications {
    .notification-wrapper:first-of-type {
      margin-top: constant(safe-area-inset-top);
      margin-top: env(safe-area-inset-top);
    }
  }
}
