$white: #fff !default;
$black: #000 !default;
$dark-grey: #333 !default;
$grey: #797979 !default;
$light-grey: #ddd !default;
$extra-light-grey: #f8f9fa !default;

$dark-green: #27ae60 !default;
$green: #2ecc71 !default;
$dark-red: #c0392b !default;
$red: #e74c3c !default;
$dark-orange: #d35400 !default;
$orange: #e67e22 !default;
