.vdp-datepicker {
  width: 100%;
}

.vdp-datepicker__calendar {
    z-index: 110 !important;
}

.custom-file-input:lang(fr)~.custom-file-label::after {
  content: "Ajouter un fichier";
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}
