.vue-form-generator {
  .form-group.required {
    > label {
      &::after {
        content: '*';
        font-weight: 400;
        color: red;
        padding-left: .2em;
        font-size: 1em
      }
    }
  }

  .hint {
    font-style: italic;
    font-size: .8em;
  }
}

.vdp-datepicker {
  width: 100%;
}

.vdp-datepicker__calendar {
  z-index: 110 !important;
}

.custom-file-input:lang(fr)~.custom-file-label::after {
  content: 'Ajouter un fichier';
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: 'Browse';
}
