@import "compass/css3/user-interface";

.multiselect {
  z-index: 100 !important;
}

.multiselect__content-wrapper {
  z-index: 100000 !important;
}

.multiselect--active {
  z-index: 110 !important;
}

.multiselect__input {
  display: block !important;
  position: absolute;
  background-color: transparent;
  font-size: 0;
}

.multiselect--active input.multiselect__input {
  font-size: 16px;
}
